* {
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(237, 237, 141);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#app {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    text-align: center;
}

.container {
    border: 2px solid blue;
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    width: 90%;
    height: 80%;
}
